:root{
    --bg-blue:#93B5C9;
    --bg-wine:#AB2849;
}
body{
    margin: 0;
    padding: 0;
    background-color: white;
}

.titulo{
    
    line-height: 1;
    font-size: 0;
    color: #000000;
    font-size: 1cqb;
    text-align: center;
    font-family: sans-serif;
    margin-bottom: 0;
    padding: 0;
  
}
.titulo1{
     /*     arriba, derecha, abajo     izquierda*/ 
    line-height: 0;
    font-size: 0;
    margin-top: 0;
    margin: 0;
    padding: 0;
    color: #B88940;
    font-size: 4cqb;
    text-align: center;
    font-family: sans-serif ;
}
.titulo2{
    color: #000000;
    font-size: 2cqb;
    text-align: center;
    font-family: sans-serif;
    margin-bottom: 0;
    padding: 0;
}
.titulo3{
    margin-top: 0;
    color: #000000;
    font-size: 1cqb;
    text-align: center;
    font-family: Catamaran;
    margin-bottom: 0;
    padding: 0;
}





.uno{
    /*margin: 10;*/
    /*     arriba, derecha, abajo     izquierda*/ 
    margin: 0px     0px      0px     0px;
    padding: 0;
    height: 100px;
    width: 100%;
    background-color: #93B5C9;
    
}
.dos{
    margin: 0;
    padding: 0;
    height: 150px;
    width: 100%;
    background-color: #AB2849;
    
}
.tres1{
    /*     arriba, derecha, abajo     izquierda*/ 
   margin: 10px     0px      0px     50px;
   height: 100px;
   width: 50%;
   background-color: #AB2849;
   
}
.tres2{
    /*     arriba, derecha, abajo     izquierda*/ 
   margin: 10px     50px      0px     0px;
   height: 100px;
   width: 50%;
   background-color: #AB2849;
}
.contenedor1{
    display: flex;
}
.tres4{
    /*     arriba, derecha, abajo     izquierda*/ 
  
   margin: 10px     5px      0px     50px;
   height: 100px;
   width: 50%;
   background-color: #AB2849;
   
}
.tres5{
    /*     arriba, derecha, abajo     izquierda*/ 
   margin: 10px     50px      0px     5px;
   height: 100px;
   width: 50%;
   background-color: #AB2849;
}
.cuatro{
    margin: 10px     0px      10px     0px;
    padding: 0;
    height: 150px;
    width: 100%;
    background-color: #AB2849;
    
}





