* {
    overflow-x: hidden;
    z-index: 1;
    padding: 0px;
    margin: 3px;
    box-sizing: border-box;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  body {
    background-color: white;
  }
  .container {
    position: static;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
  }
  .content {
    position: relative;
    justify-content: center;
    align-items: center;
  }
  .content-inicio {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .h2-a{
      position: relative;
      float: left;
      right: 32%;
  }
  span {
    position: relative;
    background-color: rgb(0, 204, 34);
    padding: 10px;
    border-radius: 100%;
    overflow: hidden;
    width: 3%;
  }
  .content-header {
    position: relative;
    display: flex;
    flex-direction: column;
    /*background-image: url(2.png);*/
    background-image: url('/img/2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width: 90vw;
    height: 70vh;
    z-index: 2;
  }
  @font-face {
    font-family: "Prompt";
    src: url(fuentes/Prompt-Bold.ttf);
    font-weight: bold;
    font-size: bold;
  }
  .sub-header {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
  .h1-a {
    background-color: rgb(33, 206, 85);
    width: 20%;
    padding: 10px;
    margin-top: 0px;
    color: white;
    font-family: "Prompt";
    overflow: hidden;
  }
  .h1-b {
    background-color: rgb(33, 206, 85);
    width: 40%;
    padding: 10px;
    margin-top: 0px;
    color: white;
    font-family: "Prompt";
    overflow: hidden;
  }
  .h1-c {
    background-color: rgb(33, 206, 85);
    width: 25%;
    padding: 10px;
    margin-top: 0px;
    color: white;
    font-family: "Prompt";
    overflow: hidden;
  }
  .sub-header2 {
    position: relative;
    background-color: rgb(0, 0, 0);
    width: 60%;
    padding: 10px;
    margin-top: 15px;
    color: white;
    font-family: "Prompt";
    overflow: hidden;
  }
  .content-info {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 8%;
  }
  .content-imagenes {
    position: initial;
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
  }
  .img-1 {
    margin-right: 5%;
  }
  .img-2 {
    margin-left: 1%;
    margin-right: 1%;
  }
  .img-3 {
    margin-left: 0%;
  }
  .content-fooster {
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: rgb(33, 206, 85);
    border-radius: 5px;
    padding: 20px;
  }
  .link {
    margin-right: 14%;
  }
  @media (max-width: 480px) { 
    .h1-a, .h1-b, .h1-c {
      font-size: 1.5em; 
    }
    .sub-header2 {
      font-size: 0.8em; 
    }
    .content-fooster {
      flex-direction: column; 
    }
    .link {
      margin-bottom: 10px; 
    }
  }