:root{
    --bg-blue:#93B5C9;
    --bg-wine:#AB2849;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background: white;
}
.container{
    background: #1b1b1b;
    display: flex; /* or inline-flex  width: 20%;  */
    justify-content: space-between;
    align-items: center;
}
.uno{
    background-color: #7ED957;
    height: 30px;
    width: 30px;
    border-radius: 40%;
    padding: 10px;
    overflow: hidden;

}
.dos{
    background: #a01a7e;
    height: 200px;
    width: 200px;
    border-radius: 15px;
    justify-content: left;
}
.tres{
    background: #1aa0a0;
    height: 200px;
    width: 200px;
    border-radius: 15px;
}